body{
    background-color:#263238;
}

.leaflet-container{
    width: 100%;
    height: 100vh;
}

form{
    padding: 50px;
    margin-top: 50px;
}

.nav-extended{
    padding: 20px;
}

.brand-logo{
    font-weight: bold;
}

.restoinfo{
    padding: 20px;
    margin-top: 40px;
}

.profile{
    padding: 25px;
}

footer{
    margin-bottom: 0;
}